@import url('https://fonts.googleapis.com/css?family=Fjalla+One:100,200,300,400,500,600,700|Permanent+Marker:100,200,300,400,500,600,700|Trade+Windsa:100,200,300,400,500,600,700');

/* ------------------------------ Welcome/Navbar */

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Fjalla One", sans-serif;
  color: #777;
}

.nav-fix-position {
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
    color: #ddd;
    background-color:#282E34;

}

.nav-fix-position-test {
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
    color: #ddd;
    background-color:#282E34;

}

.nav-item .nav-link {
    font-family: 'Trade Winds', cursive;
    color:#ddd;
    background-color:#282E34;
}

.nav-home {
    padding-right: 25px;
    color: #ddd;
}

/* ------------------------------ Sidebar */

.sidebar {
  z-index: 1;
  margin-top: 10%;
  padding: 0;
  width: 65px;
  background-color: transparent;
  position: fixed;
  min-height: 30%;
  overflow: auto;
  text-align: center;
  font-size: 35px;
}

.sidebar a {
  display: flex;
  justify-content: space-evenly;
  padding: 3px 3px;
  text-decoration: none;
  border-radius: 50%;
}
 
.sidebar a.active {
  background-color: #E98074;
  color: white;
}

.sidebar a:hover {
  background-color: #E85A4F;
  color: #fff;
}

.sidebar-icons {
    opacity: 0.45;
  color: #E85A4F;
  padding: 10px 10px;
}

.sidebar i:hover {
    opacity: 1;
    color: #fff;
}

@media screen and (max-width: 700px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }
  .sidebar a {
      float: left;
      margin-left: 0;
      }
 
}



/* ------------------------------ All background img styling */


.bg-one, .bg-two, .bg-three, .bg-four, .bg-five {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-parallax-images {
  opacity: 0.65;

  height: auto;
  min-height: 400px;
}

.bg-one {
  background-image: url("../images/logo_main.jpg");
  background-size: contain;
  background-color: #fff;
  height: auto;
  min-height: 90%;
  top: 0;
  left: 0;
}

.bg-two {
  background-image: url("../images/placeholder_drums.jpg");
}

.bg-three {
  background-image: url("../images/band_live.jpg");
}

.bg-four {
  background-image: url("../images/Gassan2.jpg");
}

.bg-five {
  background-image: url("../images/Jays.jpg");
}

/* ------------------------------ Stories Styling */

.story-heading {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: #E85A4F
}

.story-about {
    color: #777;
    background-color: #fff;
    opacity: 0.90;
    text-align: center;
    padding: 50px 80px;
}

.story-about h3 {
    text-align:center;
    font-family: 'Trade Winds', cursive;
}

.story-about p {
    text-align: center;
    font-weight: 300;
}

.story-music, .story-shows, .story-pictures, .story-contact {
    position: relative;
}

.story-text {
    z-index: 1;
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding: 25px 80px;
}

.story-content-wrapper {
    display: inline-block; 
    width: 50%;
    margin: auto;
    padding: 5px;
}

.story-content-wrapper-about-us {
    display: inline-block; 
    width: 90%;
    margin: auto;
    padding: 5px;
}

/* ------------------------------ Shows */

.shows-display {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    border: 1px solid #E85A4F;
    opacity: 80%;
}

.show-date {
    width: 25%;
}

.show-location {
    text-align: center;
    width: 50%;
}

.show-tickets {
    width: 25%;
}

/* ------------------------------ Gallery / About Us Section / Pictures */

.gallery-display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    margin: 5px 5px;
}

.test-pictures {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    width: 175px;
    height: 175px;
    min-width: 175px;
    min-height: 175px;
    border-radius: 50%;
}

#jaqueline-about-us-img {
  background-image: url("../images/JaquiSolo.jpg");
  height: auto;
}

#patricia-about-us-img {
  background-image: url("../images/PatriciaSolo.jpg");
  height: auto;
}

#gaz-about-us-img {
  background-image: url("../images/GassanSolo.jpg");
  height: auto;
}

#jays-about-us-img {
  background-image: url("../images/JaysSolo.jpg");
  height: auto;
}

#bud-about-us-img {
  background-image: url("../images/BudSolo.jpg");
  height: auto;
}

#freddie-about-us-img {
  background-image: url("../images/FadiSolo.jpg");
  height: auto;
}

/* ------------------------------ Contact Us / Sign up */

.sign-up-header {
    color: #fafafa;
}

/* ------------------------------ Scroll Chevrons / Icons / Hover.css */

.hvr-color {
    color: #282E34;
}

.hvr-color-inverse {
    color: #fafafa;
}

.up-chevron a i {
    font-size: 25px;
}

.contact-icons {
    color: #E85A4F
}

.hover-color-adapt:hover {
    color: #E85A4F
}

.calendar-shows {
    display: inline-block;
    width: 30%;
    color: #E98074;
}


/* ------------------------------ Media Player */

.media-player {
    display: inline-block; 
    width: 50%;
    margin: auto;
    background-color: #EAE7DC;
    padding: 5px;
}

/* ------------------------------ Captions and Headers */

.caption {
    font-family: 'Trade Winds', cursive;
    font-weight: 600;
    position: absolute;
     left: 0;
     top: 90%;
     width: 100%;
     text-align: center;
    color: #000;
}


#band-name, #band-name-bottom {
    background-color: #fff;
    color: #111;
    font-size: 30px;
    letter-spacing: 10px;
    padding: 5px 15px;
}

#band-name-bottom {
    opacity: 0.90;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 1px 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: 'Trade Winds', cursive;
    color: #111;
}

/* ------------------------------ Footer */

.footer .footer-cont{
    margin-top: 25px;
    margin-left: 10px;
}

.copyright {
    text-align: center;
    position: relative;
    bottom: 0;
}

/* --------------------------------- Media Queries */

@media screen and (max-width: 900px) {
.bg-one, .bg-two, .bg-three, .bg-four, .bg-five {
    background-attachment: scroll;
  }

.story-text {
    padding: 25px 40px;
}

.media-player {
    width: 90%;
}

.story-content-wrapper {
    width: 95%
}

.gallery-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}